

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
     background-color: #dedccf;
}

.image-container {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;
    height: calc(100vh - 80px);
    z-index: 1;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .35);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow: visible;
    min-height: 480px;
    width: 768px;
    max-width: 100%;
}

.form-container {
    display: flex;
    flex-direction: column; 
    align-items:flex-start;
    justify-content:start; 
    padding: 40px 0;
    width: 50%;
    
}

#container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .3px;
    margin: 20px 0;
}

#container span{
    font-size: 12px;
}

#container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
    height: auto;
}

#container button{
    background-color: transparent;
    color: #1f3335;
    font-size: 12px;
    padding: 10px 45px;
    border: 2px solid #e3ddb6;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}

/* Hover Effect */
#container button:hover {
    color: #fff;
    background: linear-gradient(to right, #727543, #797142);
    border: 2px solid transparent;
    box-shadow: 0px 0px 20px rgba(88, 95, 57, 0.7); 
    transform: scale(1.1); 
}

#container button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 300%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transform: skewX(-30deg);
    transition: all 0.6s ease-in-out;
}

#container button:hover::before {
    left: 100%;
}

#container button:hover {
    animation: text-glow 1.5s infinite;
}

@keyframes text-glow {
    0% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    }
    50% {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    }
    100% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    }
}

#container button.hidden{
    background-color: transparent;
    border-color: #fff;
}

#container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 0;
}

#container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

#container select{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.profile{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .profile{
    transform: translateX(100%);
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.restPassword-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all .6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .restPassword-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.panel {
    background-color: #e3ddb6;
    height: 100%;
    background: linear-gradient(to right, #727543, #797142);
    color: #fff;
    position: relative;
    left: 0px;
    height: 100%;
    width: 200%;
    transform: translate(0);
    transition: all .6s ease-in-out;
}

.container.container.active .panel{
    transform: translateX(50%);
}

.resetPassword-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    left: 0;
}

.nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-link a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    transition: color 0.3s ease; 
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
    padding: 0;
    margin: 0; 
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    padding: 0 10px;
    transition: all 0.3s ease;
}

.nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    bottom: -5px;
    left: 0;
    transition: width 0.3s ease;
}

.nav a:hover {
    color: #E5F3EE;
    transform: scale(1.1);
}

.nav a:hover::after {
    width: 100%; 
}

@keyframes hover-glow {
    0% {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
    }
    100% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    }
}

.nav a:hover {
    animation: hover-glow 0.4s forwards; 
}

.logo {
    margin-right: auto; 
}

.logo img {
    max-width: 100%;
    height: auto;
    max-height: 80px;
}

@media (min-width: 768px) {
    .logo img {
        max-height: 60px;
    }
}

@media (min-width: 1200px) {
    .logo img {
        max-height: 60px;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
    z-index: 3;
    top:0;
    left:0;
    z-index: 3;
}

.navbar-nav{
    display: flex;
    gap:100px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-nav a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    transition: all 0.3s ease;
}

.navbar-nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #000;
    bottom: -5px;
    left: 0;
    transition: width 0.3s ease;
}

.navbar-nav a:hover {
    color: #4f6256;
    animation: hover-glow 0.4s forwards;
    transform: scale(1.1);
}

.navbar-nav a:hover::after {
    width: 100%; 
}

@keyframes hover-glow {
    0% {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
    }
    100% {
        text-shadow: 0 0 10px rgba(74, 81, 69, 0.8);
    }
}

.product-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.navbar-brand img {
    max-width: 40%;
    height: auto;
    max-height: 80px;
}

@media (min-width: 768px) {
    .navbar-brand img {
        max-height: 60px;
    }
}

@media (min-width: 1200px) {
    .navbar-brand img {
        max-height: 60px;
    }
}

#otpContainer {
    text-align: center;
}

#verifyOtpButton {
    display: inline-block;
}

#newPasswordContainer {
    text-align: center;
}

#resetPasswordButton {
    display: inline-block;
}

  .error-messages {
    display: none;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.show {
    display: block;
}
